<div class="ui feed">
  {{#each}}
    <div class="event">
      <div class="label">
        <img class="avatar" {{bind-attr src=author.avatarUrl}}>
      </div>
      <div class="content">
        <div class="summary">
          <a {{bind-attr href=author.htmlUrl}} target="_blank">
            {{author.login}}
          </a>
          <div class="date">
            {{ago commit.author.date}}
          </div>
        </div>
        <div class="extra text">
          {{~commit.message~}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
