<h2 class="ui header">
  <i class="feed icon"></i>
  <div class="content">
    ニュース
    <div class="sub header">
      最近の30日間
    </div>
  </div>
</h2>
<div class="ui divider"></div>
<div class="ui feed">
  {{#each commit in model}}
    <div class="event">
      <div class="label">
        <img class="avatar" {{bind-attr src=commit.author.avatarUrl}}>
      </div>
      <div class="content">
        <div class="summary">
          <a {{bind-attr href=commit.author.htmlUrl}} target="_blank">
            {{commit.author.login}}
          </a>
          <div class="date">
            {{ago commit.commit.author.date}}
          </div>
        </div>
        <div class="extra text">
          {{~commit.commit.message~}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
